{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Exammer</title>
</head>
<body>
    {% include 'main.html' %}
    <!-- Header section -->
    {% include "quizapp/header.html" %}
    <!-- Header Section ends -->

<div class="container w-75 border mt-2 p-4 rounded rounded-lg shadow-lg">
 <h2 class="h2 text-center mb-4">Create Batch</h2>
 <form method="POST" action="{% url 'batch' %}">
     {% csrf_token %}
     <div class="form-row">
       <div class="col">
         <input type="text" class="form-control" name="name" placeholder="Name of Batch">
       </div>
       <div class="col">
         <input type="text" class="form-control" name="size" placeholder="Batch Size">
       </div>
     </div>
     <button class="btn btn-success">Add Batch</button>
     <a href="{% url 'o_dashboard' %}" class="text-danger m-4"><strong>Cancel</strong> </a>
   </form>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Batch</th>
        <th scope="col">Size</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for batch in batches %}
      <tr>
        <th scope="row">{{batch.name}}</th>
        <td>{{batch.size}}</td>
        <td><a href=""><button class="btn btn-warning">Edit</button></a></td>
        <td><a href=""><button class="btn btn-danger">Delete</button></a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  </div>

  </body>
  </html>
  