{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Exammer</title>
</head>
<body>
    {% include 'main.html' %}
    <!-- Header section -->
    {% include "quizapp/header.html" %}
    <!-- Header Section ends -->

    <div class="container w-75">
        <div class="content align-items-right">
            <h4 class="h4 text-info">Explore Your Capabilities !</h4>
            <p>Learn, Inspire,  Grow. Test your skills.</p>
            <div class="wrap">
                <img src="{% static 'images/homePage.png' %}" class="img-fluid" alt="Responsive image">
                <!-- <img src="" alt="home page" height="600px" width="600px"> -->
            </div>
        </div>
    </div>
    
  


    <div class="container border-rounded mt-5 p-5 shadow shadow-lg" id="tests">
        <center><h2>Tests</h2></center>
        <div class="row">
            {% for test in tests %}
            <div class="col-sm-4 p-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{test.name}}</h5>
                        <P>Category: {{test.category}}</P>
                        <p class="card-text">{{test.description}}</p>
                        <a href="{% url 'register' category=test.category %}" class="btn btn-style"
                        >Take a Quiz <i class="fas fa-arrow-right m-1"></i> </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container border-rounded mt-5 p-5 shadow shadow-lg" id="batches">
        <center><h2>Batches</h2></center>
        <div class="row">
            {% for batch in batches %}
            <div class="col-sm-4 p-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{batch.name}}</h5>
                        <p class="card-text">Batch Size: {{batch.size}}</p>
                        <a href="{% url 'register-batch' id=batch.external_id %}" class="btn btn-style"
                        >Register <i class="fas fa-arrow-right m-1"></i> </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container border-rounded mt-5 p-5 shadow shadow-lg" id="learning">
        <center><h2>Learning Videos</h2></center>
        <div class="row">
            {% for video in videos %}
            <div class="col-sm-4 p-3">
                <div class="card">
                    <div class="card-body">
                        <iframe height="200" width="260" src="{{video.url}}" title="YouTube Video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
                        <h5 class="card-title">{{video.title}}</h5>
                        <p class="card-text">{{video.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>