{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Console</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body onload="countdown({{time}})">
    <div class="wrapper">
        <div class="quiz">
            <div class="quiz-header">
                <div class="quiz-user">
                    <h4>Welcome {{name}}</h4>
                </div>
                <div class="quiz-timer">
                    <button class="btn btn-submit" style="margin-right:20px" onclick="submitForm()">Submit</button></a>
                    <span class="time" id="counter">00:00</span>
                </div>
            </div>
            <div class="quiz-body">

                <form id="exam" action="{%url 'result' category=category %}" method="POST">{% csrf_token %}
                    <input type="hidden" name="ext_id" value="{{student.external_id}}">
                {% for i in questions %}

                <h2>Q.{{forloop.counter}} {{i.question}}</h2>
                <input type="hidden" value="1.external_id" id="que">
                <ul class="option-group">
                    <label class="option"> <input type="radio" name="{{i.external_id}}" id="{{i.choice1}option1" value="1">
                        {{i.choice1}}</label>
                    <label class="option"> <input type="radio" name="{{i.external_id}}" id="{{i.choice2}option2" value="2">
                        {{i.choice2}}</label>
                    <label class="option"> <input type="radio" name="{{i.external_id}}" id="{{i.choice3}option3" value="3">
                        {{i.choice3}}</label>
                    <label class="option"> <input type="radio" name="{{i.external_id}}" id="{{i.choice4}option4" value="4">
                        {{i.choice4}}</label>
                </ul>
                {% endfor %}
                <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function countdown(minutes) {
            var form = document.getElementById("exam");
            var seconds = 60;
            var mins = minutes

            function tick() {
                var counter = document.getElementById("counter");
                var current_minutes = mins-1
                seconds--;
                if (current_minutes == 0 && seconds == 0){
                    form.submit();
                }
                counter.innerHTML = current_minutes.toString() + ":" + (seconds < 10 ? "0" : "") + String(seconds);
                document.title = "CHallenger " + current_minutes.toString() + ":" + (seconds < 10 ? "0" : "") + String(seconds);
                
                if( seconds > 0 ) {
                    setTimeout(tick, 1000);
                } else {
                    if(mins > 1){
                        countdown(mins-1);           
                    } 
                }
                
                
            }
            tick();
        }
        function submitForm(){
            var form = document.getElementById("exam");
            form.submit()
        }

    </script>

</body>

</html>