{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Console</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
<div class="wrapper">
    <div class="div">
            <h1>Instructions</h1><br>
            <ul class="list-group">
                <li class="list-group-item">Test contains multiple choice questions</li>
                <li class="list-group-item">Test will automatically submit when time ends</li>
            </ul>
            <br>
            <a href="{% url 'questionportal' category=category %}"><button class="btn btn-info">Start Quiz</button></a>
    
    </div>
</div>


    <script src="{% static 'static/js/quiz.js' %}"></script>
</body>
</html>